/* Estilo para la sección de inicio */
#inicio {
    position: relative;
    text-align: center;
}

/* Estilo para la imagen de inicio */
.inicio-content img {
    width: 100%;
}

/* Estilo para el texto superpuesto */
.texto-superpuesto {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo de las secciones */
section {
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

/* Estilo para el encabezado */
header {
    background-color: #e1f733;
    color: #fff;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content img {
    margin-right: 10px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-text p {
    margin: 0;
}


/* Estilo para el menú de navegación */
nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


/* Estilo para el pie de página */
/* Estilo para el footer */
footer {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a una nueva fila si no caben en el ancho de la pantalla */
    justify-content: space-between;
    font-family: Arial, sans-serif;
}

/* Estilo para la sección de contacto */
#contacto {
    flex: 1; /* Toma el 50% del ancho disponible */
}

/* Estilo para la sección de horarios */
#horarios {
    flex: 1; /* Toma el 50% del ancho disponible */
    margin-left: 20px; /* Espacio entre el contenido y la tabla de horarios */
}

/* Estilo para la tabla de horarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Espacio entre el título "Horarios" y la tabla */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilo para las filas impares de la tabla */
tr:nth-child(odd) {
    background-color: #e5e5e5;
}


