/* Estilo para la sección de inicio */
#inicio {
    position: flex;
    text-align: center;
}

/* Estilo para la imagen de inicio */
.inicio-content .inicio-image {
    width: 100%;
}

/* Estilo para el texto superpuesto */
.texto-superpuesto {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Estilo de las secciones */
section {
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

/* Estilo para el encabezado */
header {
    background-color: #e1f733;
    color: #fff;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content img {
    margin-right: 10px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-text p {
    margin: 0;
}


/* Estilo para el menú de navegación */
nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para seccion Instalaciones */
#instalaciones {

}

.galeria-instalaciones .imagen-instalaciones {
    width: 450px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    padding: 6px;
}

.galeria-instalaciones .imagen-instalaciones:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05) rotate(-1.2deg);
    transition: 0.6s ease-out;
    filter: grayscale(0.9);
}



/* Estilo para el footer */
footer {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    flex-wrap: wrap; /* Los elementos se ajusten a una nueva fila si no caben en el ancho de la pantalla */
}

/* Estilo para las columnas en el footer */
.footer-column {
    flex: 1;
    margin-right: 20px; /* Espacio entre las columnas */
}

/* Estilo para la lista de redes sociales */
#redes-sociales ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

#redes-sociales ul li {
    margin-right: 10px;
}

#redes-sociales ul li:last-child {
    margin-right: 0;
}

#redes-sociales ul li a img {
    width: 30px;
    height: 30px;
    border: none;
}

/* Estilo para la tabla de horarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}



/* Estilo para las filas impares de la tabla */
tr:nth-child(odd) {
    background-color: #e5e5e5;
}

